
    <footer>
    <div class="footer-container" ng-show="showFooter">
      <div class="logo">
        <a href="/" target="_self">
          <img src="https://flat.io/img/logo-flat.svg" alt="Create, compose, collaborate, play back, and print your sheet music using the world's most simple and intuitive web-based music score editor.">
        </a>
        <p>© 2014 - 2016 Tutteo Ltd.</p>
        <p>Designed and built with <i class="fa fa-heart"></i> by <a href="http://https://github.com/eucleodo">eucleodo</a></p>
        <div class="links">
          <div>
            <h3>Get in touch</h3>
            <a href="/support" target="_self">Contact us</a>
            <a href="https://twitter.com/flat_io" target="_self" onclick="ga('send', 'pageview', '/out/twitter/footer');"><i class="fi fi-product-twitter"></i></a>
            <a href="https://facebook.com/flat.io" target="_self" onclick="ga('send', 'pageview', '/out/facebook/footer');"><i class="fi fi-product-facebook"></i></a>
          </div>
        </div>
      </div>

      <div class="links">
        <div>
          <h3><a href="/en" target="_self">Individual</a></h3>
          <a href="/en#features" target="_self">Music score editor</a>
          <a href="/popular/weekly" target="_self">Popular</a>
          <a href="/en/pricing" target="_self">Pricing</a>
        </div>

        <div>
          <h3><a href="/en/edu" target="_self">Education</a></h3>
          <a href="/en/edu" target="_self">Get started</a>
          <a href="/en/edu#google-classroom" target="_self">Google Classroom</a>
          <a href="/en/edu#privacy-coppa" target="_self">Privacy - COPPA</a>
          <a href="/en/edu/pricing" target="_self">Pricing</a>
        </div>

        <div>
          <h3>Features</h3>
          <a href="/en/offline" target="_self">Offline</a>
          <a href="/en/guitar-tabs" target="_self">Guitar Tabs</a>
          <a href="/en/smart-history" target="_self">Smart History</a>
          <a href="/en/midi-devices" target="_self">MIDI devices</a>
        </div>

        <div>
          <h3>Company</h3>
          <a href="https://blog.flat.io" target="_self" onclick="ga('send', 'pageview', '/out/blog/footer');">Blog</a>
          <a href="/press" target="_self">Press</a>
          <a href="/updates" target="_self">Product Updates</a>
        </div>

        <div>
          <h3>Legal</h3>
          <a href="/legal/tos-individual" target="_self">Individual ToS</a>
          <a href="/legal/tos-edu" target="_self">Education ToS</a>
          <a href="/legal/tos-business" target="_self">Business ToS</a>
          <a href="/legal/privacy-policy" target="_self">Privacy Policy</a>
          <a href="/legal/cookies-policy" target="_self">Cookies Policy</a>
        </div>

        <div>
          <h3>Support</h3>
          <a href="/support/faq" target="_self">FAQ</a>
          <a href="/support/editor" target="_self">Editor Help</a>
          <a href="/support" target="_self">Contact us</a>
        </div>
      </div>
    </div>
  </footer>